---
import { Image } from 'astro:assets'

import { type App } from '@classes/app-list';
import AppDisplayTypes from '@components/app-display-types.astro';
import GithubButton from './github-button.astro';

interface Props {
    app: App
}

const { app } = Astro.props
---
<div id="icon_name"class="w-full h-full flex flex-col md:flex-row items-center justify-center gap-4">
    <div class="w-full h-full flex flex-col items-center justify-center gap-4 md:gap-8">
        <Image src={app.icon_location} alt={app.name} class="w-[120px] h-[120px] rounded-lg border-white border-4 aspect-square object-contain" />
        <strong class="font-roboto-condensed font-medium text-3xl text-text">{app.name}</strong>
        <p class="font-ubuntu-mono font-normal text-text text-lg text-center">{app.description}</p>

        <div class="w-full flex flex-row md:flex-col items-center justify-center gap-4">
            <a href={app.link} target="_blank">
                <img src="/social-icons/app-store.svg" alt="App Store" class="h-[40px] aspect-auto" />
            </a>
            {
                app.github &&
                <GithubButton link={app.github}/>
            }
        </div>
    </div>
    <AppDisplayTypes display_type={app.display_types}/>
</div>